spring:
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
management:
  endpoints:
    web:
      exposure:
        include: health,info
logging:
  level:
    sun.rmi: OFF
